# WordPress core
wp-admin/
wp-includes/

# configuración
wp-config.php
.htaccess

# uploads
wp-content/uploads/
wp-content/upgrade/

# ignorar todos los temas
wp-content/themes/*

# excepto el tema hijo
!wp-content/themes/astra-child/

# ignorar plugins
wp-content/plugins/

# logs
*.log
*.sql
.DS_Store
Thumbs.db